:root {
    --primary-color: #0B67BF;
    --secondary-color: #6DCCDC;
    --third-color: #3D85CB;
  }
  $primary: var(--primary-color);
  $secondary: var(--secondary-color);
  $third: var(--third-color);