@import "./../../utils/themes.scss";

input {
    border-radius: 30px;
    padding: 10px;
    width: 300px;
   color: $primary;
   padding-left: 20px;

   input:focus {
     border: none;
   }
}
::placeholder {
    padding-left: 20px;
    color: $primary;
  }