@import "./../../utils/themes.scss";

.circle{
    width: 250px;
    height: 250px;
    border-radius: 60%;
    background: $third;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.7fr 1fr 1fr;
    grid-template-areas:  
    "."
    "stars"
    "size"
    "."
    ;
}

.size {
    font-size: 60px;
    color: white;
    font-weight: 900;
    grid-area: size;
}

.stars {
    grid-area: stars;
}

@media only screen and (max-width: 600px) {
    .circle{
        width: 200px;
        height: 200px;
    }
}