@import "./../../utils/themes.scss";

button {
    background-color: transparent;
    border-radius: 60px;
    border: 1px solid $secondary;
    color: #61dafb;
    padding: 10px 25px;
    cursor: pointer;
}

button:hover{
    background-color: white;
    color: $primary;
}

button:disabled {
    background-color: grey;
    color: white;
}